body {
  overflow: visible;
  margin: 100;
}


.link {
  fill: none;
  stroke: #666;
  stroke-width: 4.5px;
}

.link.active {
  fill: none;
  stroke: blue;
  stroke-width: 4.5px;
}

circle {
  fill: #E6E6E6;
  stroke: #333;
  stroke-width: 4.25px;
}

foreignObject {
  cursor:default;
}

#chart, #header, #spec, #spec2 {
  position: absolute;
}

#header {
  z-index: 1;
  display: block;
}

#header {
  top: 70px;
  left: 70px;
  font: 300 36px "Helvetica Neue";
}

#spec {
  z-index: 1;
  display: block;
}

#spec {
  top: 155px;
  left: 70px;
  font: 300 18px "Helvetica Neue";
  line-height: .5em;
}

#spec2 {
  z-index: 1;
  display: block;
}

#spec2 {
  top: 122px;
  left: 70px;
  font: 300 14px "Helvetica Neue";
  line-height: .5em;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay2{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.80); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text1{
    position: absolute;
    top: 50%;
    left: 50%;
    font: 300 30px "Helvetica Neue";
    color: white;
    transform: translate(-55%,-80%);
    -ms-transform: translate(-55%,-80%);
}

#text2{
    position: absolute;
    display: none;
    top: 25%;
    left: 15%;
    right: 15%;
    font: 300 30px "Helvetica Neue";
    color: white;
}

#researchtext{
    position: absolute;
    display: none;
    top: 10%;
    left: 15%;
    right: 20%;
    color: white;
    z-index: 5;
}

#teachingtext{
    position: absolute;
    display: none;
    top: 10%;
    left: 15%;
    right: 20%;
    color: white;
    z-index: 5;
}

#teachingtext a{
  text-decoration: none;
  color: lightblue;
}

#abouttext{
    position: absolute;
    display: none;
    top: 10%;
    left: 15%;
    right: 20%;
    color: white;
    z-index: 5;
}

#linktext{
    position: absolute;
    display: none;
    top: 30%;
    left: 30%;
    color: white;
    z-index: 5;
}


#linktext a{
  text-decoration: none;
  color: white;
}
a{
  text-decoration: none;
  color: black;
}

h3{
	font: 300 25px "Helvetica Neue";
}
h4{
	font: 300 18px "Helvetica Neue";
}
